@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

* {
  font-family: "Inter", helvetica;
  font-size: 12pt;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('chatbot\ background\ final.jpg');
  background-size: cover;
  background-position: center;
}

#left {
  width:50vw;
  height: 100vh;
}

#right {
  width:50vw;
  height: 100vh;
}

.title {
  font-family:'Franklin Gothic Medium';
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-family: copperplate;
  font-size: 25px;
  letter-spacing: -0.5px;
  color: #533b31;
}

.wrapper {
  height: 90vh;
  width: 41vh;
  margin: 0 45vw 2.5vh;
}

.chat {
  background-position: left;
  overflow: scroll;
  height: 90%;
  width: 130%;
  display: flex;
  flex-direction: column;
  padding: 141% 12% 0% 39%;
  border-radius: 5px;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 80%;
  width: fit-content;
  display: block;
  margin: 6px;
  padding: 8px;
  border-radius: 5px;
  white-space: pre-line;
}

.messages div a {
  color: #fffefc;
}

.messages div a:hover {
  color: #533b31;
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: #0c0c0c;
  color: #fdfbe1;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: #fffefc;
  border: 1px solid #0c0c0c;
  color: #0c0c0c;
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 0px 5px 0px 4px;
  /* background: white; */
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-bottom: 2px solid black;
}

input:focus {
  border-bottom: 2px solid #533b31;
}

.suggestion {
  font-family: monospace;
  font-size: 80%;
  padding-top: 10px;
  display: inline-block;
  opacity: 80%;
}

.toptip {
  font-family: 'copperplate';
 font-size: 100%;
 padding-top:11px;
}

.subheading {
font-family: helvetica;
font-weight: 20px;
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 40vw;
    height: 20vh;
    margin: 133 45% 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 27.5vw;
  }
  .title {
    height: 7.5vh;
  }
}
